//====================================================================================================
.header {


	&__top {
	}

	&__top__container {
		display: flex;
		align-items: center;
		justify-content: space-between;
		@include adaptiveValue("padding-top", 10, 5, $containerWidth,$minWidth, 1);
		@include adaptiveValue("padding-bottom", 10, 5, $containerWidth,$minWidth, 1);
	}

	&__top-logo {
	}

	&__logo {
		display: flex;
		align-items: center;
		h1 {
			color: $greyColor;
			text-transform: none;
			font-weight: 600;
			@include adaptiveValue("font-size", 12, 11, $containerWidth,$minWidth, 1);
			@include adaptiveValue("line-height", 18, 14, $containerWidth,$minWidth, 1);
			@include adaptiveValue("margin-left", 15, 7, $containerWidth,$minWidth, 1);
		}
	}

	&__top-social {
		display: flex;
		a {
			font-size: 22px;
		}
	}

	&__top-phone {
		display: flex;
		align-items: center;
		@media(max-width: $tablet) {
			margin: 15px 0;
		}
	}

	&__top-map {
	}

	&__top-button {
		@media(max-width: $tablet) {
			margin-right: 80px;
		}
		@media(max-width: 35em) {
			margin-right: 0;
			margin: 30px 0;
		}
		.button {
			
		}
	}

	&__bottom {
		background-color: $yellowColor;
		@include adaptiveValue("padding-top", 15, 8, $containerWidth,$minWidth, 1);
		@include adaptiveValue("padding-bottom", 15, 8, $containerWidth,$minWidth, 1);
		@media(max-width: 40em) {
			background-color: $backgroundColor;
			padding-bottom: 0;
		}
	}

	&__menu {
	}
	&__top-mobile {
		position: fixed;
		transform: translateY(-300%);
		visibility: hidden;
		opacity: 0;
		background-color: $backgroundColor;
		transition: -webkit-transform .3s ease 0s;
		transition: transform .3s ease 0s;
		padding: 20px;
		.menu-open & {
			transform: translateY(0);
			opacity: 1;
			visibility: visible;
top: 0;
left: 0;
width: 100%;
height: 100%;
display: flex;
flex-direction: column;
align-items: center;
		}
	}
}
.icon-odnokl {
	@include adaptiveValue("margin-right", 17, 8, $containerWidth,$minWidth, 1);
	color: #F99400;
	@media (any-hover: hover){
		&:hover{
			:before {
			color: black;
			} 
		} 
	}
}
.icon-vk {
	color: #4D76A5;
	@media (any-hover: hover){
		&:hover{
			:before {
			color: black;
			} 
		} 
	}
}
.viber {
	font-size: 20px;
}
.whatsapp {
	font-size: 20px;
	@include adaptiveValue("margin-left", 20, 10, $containerWidth,$minWidth, 1);
	@include adaptiveValue("margin-right", 18, 9, $containerWidth,$minWidth, 1);
}
.phone {
	text-transform: uppercase;
}
.map {
	text-transform: uppercase;
	display: flex;
	align-items: center;
}
.button {
	text-transform: uppercase;
}
.menu {

	&__icon {
	}

	&__body {
	}

	&__list {
		display: flex;
		justify-content: space-between;
		@media(max-width: 40em) {
			flex-direction: column;
			align-items: center;
			li {
				margin: 5px 0;
			}
			a {
				margin-left: 0;
			}
		}
	}

	&__link {
		color: $mainColor;
		font-weight: 600;
		text-transform: uppercase;
		@include adaptiveValue("font-size", 12, 11, $containerWidth,$minWidth, 1);
		@include adaptiveValue("line-height", 18, 14, $containerWidth,$minWidth, 1);
		@include adaptiveValue("margin-left", 15, 7, $containerWidth,$minWidth, 1);
	}
}
.icon-map:before {
	font-size: 20px;
	@include adaptiveValue("margin-right", 18, 9, $containerWidth,$minWidth, 1);
}
.icon-menu {
}

//====================================================================================================
//Burger

.icon-menu {
	display: none;
	@media (max-width: $tablet) {
		background-color: $yellowColor;
		border-radius: 5px;
		display: block;
		position: absolute;
		flex: 0 0 rem(40);
		width: rem(40);
		height: rem(40);
		cursor: pointer;
		z-index: 5;
		right: 20px;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: rem(7.5);
			position: absolute;
			width: rem(25);
			height: rem(3);
			background-color: $backgroundColor;
		}
		&::before {
			top: rem(10);
		}
		&::after {
			bottom: rem(10);
		}
		span {
			top: calc(50% - rem(1));
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - rem(1));
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - rem(1));
			}
		}
	}
}